CJQD_WORKER_COUNT=4
CJQD_QUEUE_CAPACITY=128
CJQD_ENQUEUE_TIMEOUT_SECONDS=2.0
CJQD_RETRY_DELAY_SECONDS=1.0
CJQD_DEFAULT_MAX_RETRIES=2
CJQD_METRICS_INTERVAL_SECONDS=1.0
CJQD_HISTORY_LIMIT=256
CJQD_LOG_LEVEL=INFO
CJQD_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
